<div class=" py-4 px-4">
    <a routerLink="add" class="btn btn-info float-end">Add New Shows</a>
</div>

<div class="container mt-4" *ngIf="data.length > 0">
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Theater</th>
            <th scope="col">Time</th>
            <th scope="col">Price Per Seat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let show of data; let i = index">
            <th scope="row">
                {{i + 1}}
            </th>
            <td>
                {{show.movieName}}
            </td>
            <td>
                {{show.theaterName}}
            </td>
            <td>
                {{show.timeSlot}}
            </td>
            <td>
                {{show.pricePerSeat}} &#8377;
            </td>
            <td>
                <a class="btn btn-warning" [routerLink]="'edit/'+show._id">Edit</a>
                <a class="btn btn-danger ms-2" (click)="handleDelete(show._id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>