<div class="row">
    <div class="col-md-6 col-sm-12 signup-img">
        <img src="../../../../assets/signup.svg">
    </div>
    <div class="col-md-6 col-sm-12 signup-form">
        <div class="my-form">
            <h1 class="text-center">Signup</h1>
            <div class="form-group p-2">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Username"
                >
            </div>
            <div class="form-group p-2">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    class="form-control"
                    placeholder="Email"
                >
            </div>
            <div class="form-group p-2">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="form-control"
                    placeholder="Password"
                >
            </div>
            <div class="form-group p-2">
                <label for="cpassword">Confirm Password</label>
                <input 
                    type="password" 
                    class="form-control"
                    placeholder="Confirm Password"
                >
            </div>
            <div class="form-group p-2">
                <a class="btn btn-warning theme-yellow-bg">Signup</a>
            </div>
        </div>
    </div>
</div>