<div *ngIf="allMovies.length > 0" class="row p-2 px-4 w-100">
    <div 
        class="col-lg-3 col-md-4 col-sm-12 mt-4 movie-card" 
        *ngFor="let movie of allMovies" 
    >
        <div class="card-img" [ngStyle]="{'background-image': 'url(' + movie.thumbnail+ ')'}">
            <div class="card-body p-3">
                <h5 class="card-title pb-3">{{movie.movieName}}</h5>
                <p class="card-text">
                    <b>Duration:</b> {{movie.duration}} <br>
                    <b>Language:</b> {{movie.language}}
                </p>
                <a class="btn btn-success">Book Now</a>
            </div>
        </div>
        heyy
    </div>
</div>