.movie-card{
    height: 30rem;
    overflow: hidden;
}

.card-img{
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.card-img .card-body{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, white, #ffffffa6);
}